<label>Address</label>
<input type="address" name="address" placeholder="Street Address" >
<br />
<label>Lot Size</label>
<input type="number" name="size" placeholder="size in acres" >
<br />
<label>Please confirm that the lot is currently vacant...</label>
<br />
<label for="vacant">Yes, it is vacant.</label>
<input type="checkbox" name="vacant" value="false" >
<br />
<!--
<input type="street" name="street" placeholder="Street" >
<input type="city" name="city" placeholder="City" >
<input type="state" name="state" placeholder="State" >
<input type="zip" name="zipcode" placeholder="Zip" >
<input type="country" name="country" placeholder="Country" >
-->
