<h3>Queried Lots...</h3>

<% lots.forEach(lot => { %>
  <div><%= lot %></div>
  <form action="/lots/<%= lot.id %>/delete" method="POST">
    <button type="submit">Delete</button>
  </form>
  <form action="/lots/<%= lot.id %>/edit" method="GET">
    <button type="submit">Edit</button>
  </form>
  <br />
<% }) %>
