<h2>Search Lots</h2>
<form action="/lots" method="GET">
  <label>Zip Code</label>
  <input type="number" name="zipcode" value="<%= searchOptions.zipcode %>"/>
  <button type="submit">Search</button>
</form>
<br />
<% lots.forEach(lot => { %>
  <br />
  <p>Lot Size: <%= lot.size %> acres</p>
  <p>Vacant? <%= lot.vacant ? "Yes" : "No"%></p>
  <p>Lot Address: <%= lot.address %></p>
<% }) %>
