<header>
  <h1><a href="/">Vacanseed.com</a></h1>
  <h2>Connecting vacant lot owners with urban farmers...</h2>

  <nav>
    <ul>
      <li><a href="/lots/add">Add a Lot</a></li>
      <li><a href="/lots/search">Search for a Lot</a></li>
      <li><a href="/lots/">View all Lots</a></li>
    </ul>
  </nav>
</header>
