<header>
  <nav>
    <a href="/">vacanseed.com</a>
    <h1>A website for connecting vacant lot owners with urban farmers and community gardeners</h1>
    <ul>
      <li><a href="/lots">Search Vacant Lots</a></li>
      <li><a href="/lots/new">Add Your Lot to Our Database</a></li>
    </ul>
  </nav>
</header>
